.app-container {
    height: 100%;
    width: 100%;
}

.app-body {
    background: #207780;
    height: 100%;
    padding-top: 137px;
    width: 100%;
}

.app-title {
    color: #f12b22;
    font-size: 32px;
    text-align: center;
}
